.container {
  max-width: 1080px;
  margin: 20px auto;
}

/* #light {
  background-color: #ffffff;
}

#dark {
  background-color: rgb(0, 82, 205);
} */

/* Light&Dark mode switch styling */
.switch {
  display: flex;
  width: auto;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}